<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- REQUIRED PERMISSIONS for GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- This app has permission to register with GCM and receive message -->
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <!-- Required by Jumio -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- For Location Picker -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required by Jumio -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:icon="@drawable/v5_icon"
        android:label="@string/app_name_dev">

        <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
        <activity android:name="com.urbanairship.google.PlayServicesErrorActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:theme="@style/Theme.Netverify"
            android:name="com.jumio.netverify.sdk.activity.NetverifyActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

        <activity
            android:name="com.androidth.general.activities.IdentityPromptActivity"
            android:theme="@style/TradeHero.Live"
            android:label="@string/tradehero_live"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:noHistory="false"
            />

        <activity
            android:name="com.androidth.general.activities.SignUpLiveActivity"
            android:theme="@style/TradeHero.Live"
            android:label="@string/tradehero_live"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>


        <!-- REQUIRED for GCM -->
        <receiver
            android:name="com.urbanairship.push.GcmPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>

            <!-- REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>
        <service android:name="com.urbanairship.analytics.EventService" />

    </application>

</manifest>
