<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Required by Jumio -->
  <uses-permission android:name="android.permission.CAMERA"/>

  <!-- For Location Picker -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!-- Required by Jumio -->
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

  <application>

    <activity
        android:theme="@style/Theme.Netverify"
        android:name="com.jumio.netverify.sdk.activity.NetverifyActivity"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

    <activity
        android:name="com.tradehero.th.activities.CallToActionActivity"
        android:theme="@style/TradeHero.Live"
        android:label="@string/live_trading_title"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        android:noHistory="false"
        />

    <activity
        android:name="com.tradehero.th.activities.IdentityPromptActivity"
        android:theme="@style/TradeHero.Live"
        android:label="@string/tile_live_trading_top"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        android:noHistory="false"
        />

    <activity
        android:name="com.tradehero.th.activities.SignUpLiveActivity"
        android:theme="@style/TradeHero.Live"
        android:label="@string/tradehero_live"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"/>

  </application>

</manifest>