<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

  <!-- Required by Jumio -->
  <uses-permission android:name="android.permission.CAMERA"/>

  <!-- For Location Picker -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!-- Required by Jumio -->
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

  <application>

    <activity
        android:name="com.androidth.general.activities.IdentityPromptActivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        android:noHistory="false"
        />

    <activity
        android:name="com.androidth.general.activities.SignUpLiveActivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">

      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--<category android:name="android.intent.category.BROWSABLE"/>-->

        <!--<data android:scheme="@string/intent_scheme"/>-->
        <!--<data android:scheme="providers-enroll"/>-->
      <!--</intent-filter>-->

    </activity>


    <!-- REQUIRED for Google Play Services (GCM)-->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
      </intent-filter>
    </receiver>

    <service android:name="com.google.android.gms.analytics.AnalyticsService"
        android:enabled="true"
        android:exported="false"/>

    <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
        android:enabled="true"
        android:exported="false" />

    <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
        android:resource="@xml/ga_global_tracker" />

  </application>

</manifest>