[submodule "facebook-android-sdk"]
	path = facebook-android-sdk
	url = git@github.com:facebook/facebook-android-sdk.git
[submodule "java-code-styles"]
	path = java-code-styles
	url = git@github.com:nguyentruongtho/java-code-styles.git
[submodule "retrofit"]
	path = retrofit
	url = git@github.com:nguyentruongtho/retrofit.git
