[submodule "java-code-styles"]
	path = java-code-styles
	url = git@github.com:nguyentruongtho/java-code-styles.git
[submodule "facebook-android-sdk"]
	path = facebook-android-sdk
	url = git@github.com:nguyentruongtho/facebook-android-sdk.git
[submodule "StickyListHeaders"]
	path = StickyListHeaders
	url = git@github.com:nguyentruongtho/StickyListHeaders.git