[submodule "facebook-android-sdk"]
	path = facebook-android-sdk
	url = git@github.com:facebook/facebook-android-sdk.git
[submodule "java-code-styles"]
	path = java-code-styles
	url = git@github.com:nguyentruongtho/java-code-styles.git
[submodule "retrofit"]
	path = retrofit
	url = git@github.com:nguyentruongtho/retrofit.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:nguyentruongtho/ActionBarSherlock.git
[submodule "android-hero-validator"]
	path = android-hero-validator
	url = git@github.com:nguyentruongtho/android-hero-validator.git
[submodule "Android-PullToRefresh"]
	path = Android-PullToRefresh
	url = git@github.com:nguyentruongtho/Android-PullToRefresh.git
[submodule "lazyList"]
	path = lazyList
	url = git@github.com:xavierlepretre/LazyList.git
