<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <!-- Keeps the processor from sleeping when a message is received. -->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <!-- Required for Push -->
  <uses-permission android:name="android.permission.VIBRATE"/>

  <permission android:name="${applicationId}.permission.UA_DATA"
      android:protectionLevel="signature"/>
  <uses-permission android:name="${applicationId}.permission.UA_DATA"/>
  <!-- The two elements above ensure that only this application has access to the Urban Airship provider -->

  <!-- OPTIONAL Urban Airship Settings -->
  <!-- REQUIRED FOR LOCATION -->
  <!-- Use ACCESS_COARSE_LOCATION if GPS access is not necessary -->
   <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!--  OPTIONAL - This permission is only necessary if your app has multiple processes -->
  <!--  <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->

  <application>

    <!-- REQUIRED for Action.startActivityForResult -->
    <activity android:name="com.urbanairship.actions.ActionActivity" />

    <!-- REQUIRED for Urban Airship Push -->
    <activity android:name="com.urbanairship.CoreActivity" />

    <!-- REQUIRED for Urban Airship Push. The priority is important to be set lower than the
    application's push intent receiver in order for the push intent receiver to handle push intents
    before the core receiver. This allows the application to launch any activities before Urban
    Airship performs any actions or falls back to launching the application launch intent. -->
    <receiver android:name="com.urbanairship.CoreReceiver"
        android:exported="false">

      <intent-filter android:priority="-999">
        <action android:name="com.urbanairship.push.OPENED" />
        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

    <!-- REQUIRED for Landing Pages
       - For more customization details, see com.urbanairship.actions.LandingPageActivity -->
    <activity
        android:name="com.urbanairship.actions.LandingPageActivity"
        android:exported="false">

      <intent-filter>
        <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />

        <data android:scheme="http" />
        <data android:scheme="https" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <!-- REQUIRED for Urban Airship -->
    <service android:name="com.urbanairship.push.PushService"
        android:label="Push Notification Service" />

    <!-- Required for analytics -->
    <service android:name="com.urbanairship.analytics.EventService"
        android:label="Event Service" />

    <!-- Required for Actions -->
    <service android:name="com.urbanairship.actions.ActionService" />

    <!-- Required for Rich Push -->
    <service android:name="com.urbanairship.richpush.RichPushUpdateService" />

    <!-- OPTIONAL for Urban Airship Location (for segments support) -->
    <service android:name="com.urbanairship.location.LocationService"
        android:label="Segments Service" />

    <!-- This is required for persisting preferences related to push and location -->
    <provider
        tools:replace="android:authorities, android:permission"
        android:name="com.urbanairship.UrbanAirshipProvider"
        android:authorities="${applicationId}.urbanairship.provider"
        android:permission="${applicationId}.permission.UA_DATA"
        android:exported="true"
        android:multiprocess="true" />

    <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
    <!-- Replace the receiver below with your package and class name -->
    <!--<receiver android:name="com.androidth.general.models.push.urbanairship.UrbanAirshipIntentReceiver"-->
        <!--android:exported="true">-->

      <!--<intent-filter>-->
        <!--<action android:name="com.urbanairship.push.CHANNEL_UPDATED" />-->
        <!--<action android:name="com.urbanairship.push.OPENED" />-->
        <!--<action android:name="com.urbanairship.push.RECEIVED" />-->
        <!--<action android:name="com.urbanairship.push.DISMISSED" />-->

        <!--&lt;!&ndash; MODIFICATION REQUIRED - Use your package name as the category &ndash;&gt;-->
        <!--<category android:name="${applicationId}" />-->
      <!--</intent-filter>-->
    <!--</receiver>-->

  </application>

</manifest>
