<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidth.general"
    android:installLocation="auto">

  <supports-screens android:anyDensity="true"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>Might be because of AppsFlyer-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

  <!-- TODO Still necessary ? -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  <!-- tap stream -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

  <application
      android:name="com.androidth.general.base.THApp"
      android:allowBackup="true"
      tools:replace="android:allowBackup"
      android:allowClearUserData="true"
      android:enabled="true"
      android:icon="@drawable/v5_icon"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/TradeHero">
    <activity
        android:name="com.androidth.general.activities.SplashActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/TradeHero.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="@string/intent_scheme"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.androidth.general.activities.AuthenticationActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/AppBaseTheme.NoActionBar">
      <!--android:theme="@style/AppBaseTheme.NoActionBar"-->
    </activity>
    <activity
        android:name="com.androidth.general.activities.DashboardActivity"
        android:configChanges="orientation|screenSize"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/TradeHero.Dashboard">
    </activity>


    <!--<activity-->OLD ONE
    <!--android:name="com.facebook.LoginActivity"-->
    <!--android:label="@string/app_name"-->
    <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->

    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges=
            "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:label="@string/app_name" />

    <activity
        android:name="com.androidth.general.activities.StockChartActivity"
        android:screenOrientation="sensorLandscape"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity
        android:name="com.androidth.general.activities.AlertManagerActivity"
        android:label="@string/stock_alerts"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.StoreScreenActivity"
        android:label="@string/store_option_menu_title"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.AdminSettingsActivity"
        android:label="@string/admin_setting"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="fullSensor"
        />
    <activity
        android:name="com.androidth.general.activities.SettingsActivity"
        android:label="@string/settings"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.SettingsProfileActivity"
        android:label="@string/settings"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.FriendsInvitationActivity"
        android:label="@string/action_invite"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.UpdateCenterActivity"
        android:label="@string/message_center_title"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.PrivateDiscussionActivity"
        android:label="@string/message_center_title"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.activities.OnBoardActivity"
        android:label="@string/on_board_exchange_need_to_select"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.androidth.general.wxapi.WXEntryActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.Translucent"/>

    <!--<activity-->
    <!--android:name="com.androidth.general.activities.FacebookShareActivity"-->
    <!--android:label="@string/app_name"-->
    <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>-->
    
    <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
      </intent-filter>
    </receiver>

    <service android:name="com.google.android.gms.analytics.AnalyticsService"
        android:enabled="true"
        android:exported="false"/>

    <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
        android:enabled="true"
        android:exported="false" />

    <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
        android:resource="@xml/ga_global_tracker" />

    <receiver
        android:name="com.tune.TuneTracker"
        android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER"/>
      </intent-filter>
    </receiver>

    <service android:name="com.androidth.general.auth.THAccountAuthenticatorService">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>

      <meta-data
          android:name="android.accounts.AccountAuthenticator"
          android:resource="@xml/account_authenticator"/>
    </service>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="3c3ead4115907f8dbc3133b7ed3c8c66f05daebf"
        />
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>


    <receiver android:name="com.androidth.general.common.utils.OnlineStateReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>

    <activity
        android:name="com.androidth.general.activities.HelpActivity"
        android:label="@string/help">
    </activity>

    <activity
        android:theme="@style/Theme.Netverify"
        android:hardwareAccelerated="true"
        android:name="com.jumio.nv.NetverifyActivity"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

    <!--TODO: For Kenanga challenge, remove after challenge finish-->
    <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <provider
        android:authorities="com.facebook.app.FacebookContentProvider${FACEBOOK_APP_ID}"
        android:name="com.facebook.FacebookContentProvider"
        android:exported="true"/>

    <meta-data android:name="com.urbanairship.autopilot"
      android:value="com.urbanairship.Autopilot">
    </meta-data>

    <receiver android:name=".receivers.CustomAirshipReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
        <action android:name="com.urbanairship.push.OPENED" />
        <action android:name="com.urbanairship.push.RECEIVED" />
        <action android:name="com.urbanairship.push.DISMISSED" />

        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
