<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <!-- REQUIRED PERMISSIONS for GCM -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!-- GCM requires a Google account. -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

  <!-- This app has permission to register with GCM and receive message -->
  <permission android:name="${applicationId}.permission.C2D_MESSAGE"
      android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
  <!-- The two elements above ensure that only this application can receive the messages and registration result -->

  <!-- OPTIONAL - This permission is only necessary if your app has multiple processes -->
  <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
  <!-- END OPTIONAL Urban Airship Settings -->
  <!-- END push notification permission -->

  <application>

    <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
    <activity android:name="com.urbanairship.google.PlayServicesErrorActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <!-- REQUIRED for GCM -->
    <receiver
        android:name="com.urbanairship.push.GcmPushReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">

      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="${applicationId}" />
        <category android:name="com.tradehero.th" />
      </intent-filter>

      <!-- REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
        <data android:scheme="package"/>
      </intent-filter>

    </receiver>

  </application>

</manifest>
