<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCDjW5JZRXAoOCbxPNHEScHvOH3dQ60eow"
        />

    <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>
