<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_places_api_key"
        />

    <!--<receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">-->
      <!--<intent-filter>-->
        <!--<action android:name="com.android.vending.INSTALL_REFERRER"/>-->
      <!--</intent-filter>-->
    <!--</receiver>-->

  </application>

</manifest>
