<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradehero.th"
    android:versionName="2.2.5"
    android:versionCode="135"
    android:installLocation="auto">

  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="19"/>

  <supports-screens
      android:anyDensity="true"
      android:resizeable="true"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

  <!-- Google Play Store -->
  <uses-permission android:name="com.android.vending.BILLING"/>

  <!-- Samsung IAP -->
  <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>

  <!--tap stream-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

  <!-- BEGIN push notification permission -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <permission
      android:name="com.tradehero.th.permission.C2D_MESSAGE"
      android:protectionLevel="signature"/>
  <uses-permission android:name="com.tradehero.th.permission.C2D_MESSAGE"/>

  <!-- OPTIONAL - This permission is only necessary if your app has multiple processes -->
  <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
  <!-- END OPTIONAL Urban Airship Settings -->
  <!-- END push notification permission -->

  <!--Baidu push-->
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <!--Baidu push-->

  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

  <application
      android:name=".base.Application"
      android:allowBackup="true"
      android:icon="@drawable/launcher"
      android:label="@string/app_name"
      android:theme="@style/TradeHero"
      android:allowClearUserData="true"
      android:enabled="true"
      android:largeHeap="true"
      >

    <activity
        android:name=".activities.SplashActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme.NoActionBar2">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".activities.WebViewActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme.NoActionBar"/>

    <activity
        android:name=".activities.AuthenticationActivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".activities.GuideActivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".activities.DashboardActivity"
        android:screenOrientation="portrait"
        android:theme="@style/TradeHero.Dashboard"
        android:windowSoftInputMode="adjustResize"
        android:configChanges="orientation|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <!--<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />-->
        <!--<action android:name="com.android.vending.billing.RESPONSE_CODE" />-->
        <!--<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />-->

        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_trending" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_community" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_profile" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_portfolio" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_store" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_user" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_providers" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_home" android:pathPattern=".*"/>
        <data android:scheme="@string/intent_scheme" android:host="@string/intent_host_web" android:pathPattern=".*"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.facebook.LoginActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <activity
        android:name=".activities.StockChartActivity"
        android:screenOrientation="sensorLandscape"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <activity
        android:name=".activities.WeiboAuthAcitivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".wxapi.WXEntryActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent"
        android:launchMode="singleInstance"
        android:exported="true"/>

    <!--QQ login -->
    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:noHistory="true"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="tencent1101331512"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
    </activity>
    <!-- Samsung IAP -->
    <activity
        android:name="com.sec.android.iap.lib.activity.InboxActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.sec.android.iap.lib.activity.PaymentActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.sec.android.iap.lib.activity.ItemActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>

    <!-- GCM -->
    <!-- REQUIRED for Urban Airship GCM-->
    <receiver android:name="com.urbanairship.CoreReceiver"/>
    <receiver
        android:name="com.urbanairship.push.GCMPushReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

        <!-- MODIFICATION REQUIRED - Use your package name as the category -->
        <category android:name="com.tradehero.th"/>
      </intent-filter>
      <!-- REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <service
        android:name="com.urbanairship.push.PushService"
        android:label="Push Notification Service"/>
    <service
        android:name="com.urbanairship.analytics.EventService"
        android:label="Event Service"/>

    <provider
        android:name="com.urbanairship.UrbanAirshipProvider"
        android:authorities="com.tradehero.th.urbanairship.provider"
        android:exported="false"
        android:multiprocess="true"/>

    <!-- OPTIONAL (for segments support) -->
    <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>

    <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
    <!-- Replace the receiver below with your package and class name -->
    <receiver android:name=".models.push.urbanairship.UrbanAirshipIntentReceiver"/>
    <receiver android:name=".models.push.baidu.BaiduIntentReceiver">
      <intent-filter>
        <action android:name="com.tradehero.th.ACTION_NOTIFICATION_CLICKED"/>
      </intent-filter>
    </receiver>

    <!-- receiver for baidu push -->
    <receiver android:name="com.tradehero.th.models.push.baidu.BaiduPushMessageReceiver">
      <intent-filter>
        <!-- receive push msg -->
        <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
        <!-- receive bind,unbind,fetch,delete etc msg -->
        <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
        <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
      </intent-filter>
    </receiver>

    <!-- BEGIN Baidu inter-process communication -->
    <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
        <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
      </intent-filter>
    </receiver>

    <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
      <intent-filter>
        <action android:name="com.baidu.android.pushservice.action.METHOD"/>
        <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>
        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <service
        android:name="com.baidu.android.pushservice.PushService"
        android:exported="true"
        android:process=":bdservice_v1"/>
    <!--END Baidu inter-process communication-->

    <receiver android:name="com.mobileapptracker.Tracker" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>

    <meta-data android:name="com.crashlytics.ApiKey" android:value="3c3ead4115907f8dbc3133b7ed3c8c66f05daebf"/>
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="431745923529834"/>
  </application>
</manifest>
