<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradehero.th">

  <supports-screens
      android:smallScreens="true"
      />

  <!-- Samsung IAP -->
  <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>

  <application>

    <!-- //////////////////// -->
    <!-- /// UrbanAirship /// -->

    <!-- REQUIRED for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
    <activity android:name="com.urbanairship.google.PlayServicesErrorActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <!-- REQUIRED for GCM -->
    <receiver
        android:name="com.urbanairship.push.GCMPushReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">

      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="com.tradehero.th" />
      </intent-filter>

      <!-- REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
        <data android:scheme="package"/>
      </intent-filter>

    </receiver>

    <!-- /// UrbanAirship /// -->
    <!-- //////////////////// -->

    <!-- Samsung IAP -->
    <activity
        android:name="com.samsung.android.sdk.iap.lib.activity.InboxActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.samsung.android.sdk.iap.lib.activity.PaymentActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.samsung.android.sdk.iap.lib.activity.ItemActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>

      <meta-data android:name="CHANNEL" android:value="samsung" />

  </application>

</manifest>
