<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradehero.th">

  <!-- Samsung IAP -->
  <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>

  <!-- BEGIN push notification permission -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <permission
      android:name="com.tradehero.th.permission.C2D_MESSAGE"
      android:protectionLevel="signature"/>
  <uses-permission android:name="com.tradehero.th.permission.C2D_MESSAGE"/>

  <!-- OPTIONAL - This permission is only necessary if your app has multiple processes -->
  <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
  <!-- END OPTIONAL Urban Airship Settings -->
  <!-- END push notification permission -->

  <application>

    <!-- GCM -->
    <!-- REQUIRED for Urban Airship GCM-->
    <receiver android:name="com.urbanairship.CoreReceiver"/>
    <receiver
        android:name="com.urbanairship.push.GCMPushReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

        <!-- MODIFICATION REQUIRED - Use your package name as the category -->
        <category android:name="com.tradehero.th"/>
      </intent-filter>
      <!-- REQUIRED for detecting when the application is upgraded so it can request a new GCM ID -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <service
        android:name="com.urbanairship.push.PushService"
        android:label="Push Notification Service"/>
    <service
        android:name="com.urbanairship.analytics.EventService"
        android:label="Event Service"/>

    <provider
        android:name="com.urbanairship.UrbanAirshipProvider"
        android:authorities="com.tradehero.th.urbanairship.provider"
        android:exported="false"
        android:multiprocess="true"/>

    <!-- OPTIONAL (for segments support) -->
    <service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>

    <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
    <!-- Replace the receiver below with your package and class name -->
    <receiver android:name=".models.push.urbanairship.UrbanAirshipIntentReceiver"/>

    <!-- Samsung IAP -->
    <activity
        android:name="com.sec.android.iap.lib.activity.InboxActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.sec.android.iap.lib.activity.PaymentActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name="com.sec.android.iap.lib.activity.ItemActivity"
        android:theme="@style/Theme.Empty"
        android:configChanges="orientation|screenSize"/>

  </application>

</manifest>
